In [ ]:
# File: data_prep_and_modeling
# -----------------------------
# Objective:
# - Prepare the dataset for machine learning by encoding, sclaing, and handling class imbalance.
# - Split the data into training and testing sets.
# - Lay the groundwork for predictive modeling.

In [2]:
# Import libraries
import pandas as pd

In [3]:
# Verify data

# Load engineered data
data = pd.read_csv('../data/engineered_dataset.csv')
print("Dataset Loaded. Shape:", data.shape)

Dataset Loaded. Shape: (1470, 36)

In [7]:
# Triple check for missing values
print("Missing Values:")
print(data.isnull().sum())

# Refresh yourself on data structure
print("\nDataset Information:")
print(data.info())

# Refresh on the head
print("\nFirst five rows of the dataset: ")
print(data.head())

Missing Values:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
RoleStability               0
OverTime_Binary             0
OT_WorkLifeImpact           0
SeniorityImpact             0
SatisfactionBalance         0
dtype: int64

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MaritalStatus             1470 non-null   object
 16  MonthlyIncome             1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  NumCompaniesWorked        1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StockOptionLevel          1470 non-null   int64
 24  TotalWorkingYears         1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  WorkLifeBalance           1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrManager      1470 non-null   int64
 31  RoleStability             1470 non-null   float64
 32  OverTime_Binary           1470 non-null   int64
 33  OT_WorkLifeImpact         1470 non-null   float64
 34  SeniorityImpact           1470 non-null   float64
 35  SatisfactionBalance       1470 non-null   int64
dtypes: float64(3), int64(26), object(7)
memory usage: 413.6+ KB
None

First five rows of the dataset:
   Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EnvironmentSatisfaction  \
0                 1          2  Life Sciences                        2
1                 8          1  Life Sciences                        3
2                 2          2          Other                        4
3                 3          4  Life Sciences                        4
4                 2          1        Medical                        1

   Gender  ...  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0  Female  ...                1               6                   4
1    Male  ...                3              10                   7
2    Male  ...                3               0                   0
3  Female  ...                3               8                   7
4    Male  ...                3               2                   2

  YearsSinceLastPromotion  YearsWithCurrManager RoleStability  \
0                       0                     5      0.571429
1                       1                     7      0.636364
2                       0                     0      0.000000
3                       3                     0      0.777778
4                       2                     2      0.666667

   OverTime_Binary  OT_WorkLifeImpact  SeniorityImpact SatisfactionBalance
0                1           0.999990         0.749999                   4
1                0           0.000000         0.999999                   6
2                1           0.333332         0.000000                   9
3                1           0.333332         0.999999                   9
4                0           0.000000         0.333333                   6

[5 rows x 36 columns]

In [ ]:
# Dataset Verification: Summary and Findings
# -------------------------------------------
# Overview:
# - The dataset contains 1470 rows and 36 columns.
# - No missing values were found, indicating a clean dataset.
# - Feature engineering has been successfully applied, and new features 
#   like RoleStability, OT_WorkLifeImpact, SeniorityImpact, and SatisfactionBalance are present.

# Data Types:
# - Numerical Features: 26 columns.
# - Categorical Features: 7 columns.

# Observations:
# - The dataset is ready for preprocessing steps such as encoding, scaling, 
#   and addressing class imbalance.
# - Categorical variables will require one-hot encoding for compatibility with machine learning models.

# Next Steps:
# 1. Encode Categorical Variables:
#    - Convert categorical columns (e.g., BusinessTravel, Department) into numerical 
#      representations using one-hot encoding.
#    - Ensure the dataset structure is preserved, and new columns are created as expected.
# 2. Scale Numerical Features:
#    - Normalize numerical columns to bring them into a consistent range.
# 3. Address Class Imbalance:
#    - Handle the imbalance in Attrition using oversampling techniques like SMOTE.
# 4. Split Dataset:
#    - Divide the dataset into training and testing sets to prepare for modeling.

In [9]:
# Encode categorical variables
categorical_cols = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

KeyError: "None of [Index(['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole',\n       'MaritalStatus', 'OverTime'],\n      dtype='object')] are in the [columns]"

In [10]:
# Verify updated dataset columns
print("\nUpdated Dataset Columns:")
print(data.columns)

Updated Dataset Columns:
Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'RoleStability',
       'OverTime_Binary', 'OT_WorkLifeImpact', 'SeniorityImpact',
       'SatisfactionBalance', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [11]:
# Recheck shape of the dataset
print("\nDataset Shape After Encoding:", data.shape)

Dataset Shape After Encoding: (1470, 50)

In [ ]:
# Categorical Variable Encoding: Summary
# ---------------------------------------
# Objective:
# - Convert categorical variables into numerical format using one-hot encoding to ensure compatibility with machine learning algorithms.
#
# Process:
# - Applied one-hot encoding to the following categorical columns:
#   - BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, OverTime.
# - Used the `drop_first=True` option to avoid multicollinearity by excluding the first category of each column.
# - New binary columns were created for each category, replacing the original categorical variables.
#
# Results:
# - The dataset now includes one-hot encoded columns such as:
#   - BusinessTravel_Travel_Frequently, BusinessTravel_Travel_Rarely.
#   - Department_Research & Development, Department_Sales.
#   - OverTime_Yes, Gender_Male, etc.
# - The total number of columns increased from 36 to 50 due to the added encoded columns.